<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="120">
    <title><%= title %></title>
    <meta name="description" content="For easily calculation of GPA check out this site.">
    <meta name="author" content="Oyerinde Daniel Diekololuwa">
    <!-- Favicon -->
    <link rel="icon" href="favicon/favicon.ico">
    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Styles.css -->
    <link rel="stylesheet" href="/css/styleshome.css">
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/734dcc4b6d.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&family=Ranchers&display=swap" rel="stylesheet">
</head>


<body>
    <% if(danielaccess === myemail1 || danielaccess === myemail2 || danielaccess === my123 || danielaccess === checkgpa1 || danielaccess === checkgpa2 || validid == id1 || validid == id2 ){ %>
    <div class="display-div">
        <div class="display-pics">
            <img class="your-image" src="/pics/clown.png" alt="yourimage">
            <%   if(googleyes){ %>
            <div class="dropdown-name">
                <h5 class="h4-yourname2">Admin: <%= googlesignupname %></h5>
            </div>
            <%    } else{ %>
            <div class="dropdown-name2">
                <h5 class="h4-yourname2">Admin: <%= mysignupname %></h5>
            </div>
            <%  } %>
        </div>
    </div>
    <%   }else if(!googleyes){  %>
    <div class="display-div">
        <img class="your-image2" src="/pics/img_avatar.png" alt="yourimage">
        <div class="dropdown-name2">
            <h5 class="h4-yourname"><%= mysignupname %></h5>
        </div>
    </div>
    <%  } else{  %>
    <div class="display-div">
        <img class="your-image2" src="<%= gradepictures %>" alt="yourimage">
        <div class="dropdown-name">
            <h5 class="h4-yourname"><%= googlesignupname %></h5>
        </div>
    </div>
    <%  } %>

    <!--
    <nav class="navbar">
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" style="color:white;" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color:white;"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
-->
    <div class="row grid-box ">
        <div class=" home-box result-home col-lg-3 col-md-3 col-sm-3 border-styles">
            <a href="/grade-system"><img src="pics/homepics/resulthome.png" class="home-pics" alt="grade.png"></a>

            <a href="/grade-system">
                <h4>Grade System</h4>
            </a>
        </div>
        <div class="home-box calculator-home col-lg-3 col-md-3 col-sm-3"><a href="/calculate"><img src="pics/homepics/calculator1.png" class="home-pics" alt="calculator.png"></a>
            <a href="/calculate">
                <h4>Calculate GPA</h4>
            </a>
        </div>
        <div class="home-box history-home col-lg-3 col-md-3 col-sm-3">
            <a href="/history"> <img src="pics/homepics/historyhome.png" class="home-pics" alt="history.png"></a>
            <a href="/history">
                <h4>History</h4>
            </a>
        </div>
        <div class="home-box history-home col-lg-3 col-md-3 col-sm-3">
            <a href="/logout"> <img src="pics/homepics/logout.png" class="home-pics" aria-busy="" alt="logout.png"></a>
            <a href="/logout">
                <h4>Log out</h4>
            </a>
        </div>

    </div>
    <!--
            </div>
            </nav>-->
