<%- include('partials/header'); -%>
<div class="alert alert alert-danger alert-dismissible fade show alert-css1" role="alert">
    <div class="text-beware">
        <strong>BEWARE!</strong> Don't enter grade that has not been indicated in the grade system.
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<% if(message.length > 0){ %>
<div id="yeah" class="alert-css alert alert-success">
    <%= message %>
</div>
<% }%>
<% if(message1.length > 0){ %>
<div id="yeah" class="alert-css alert alert-danger">
    <%= message1 %>
</div>
<% }%>
<div class="div4">
    <div class="table-calculate">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">COURSE CODE</th>
                    <th scope="col">GRADE</th>
                    <th scope="col">CREDIT UNIT </th>
                    <form action="/delete/deleteallcalculate" method="post">
                        <th><button type="submit" class="ion-but" onchange="this.form.submit()"><i class="icon-css fas fa-1x fa-trash-alt"></i></button></th>
                    </form>
                </tr>
            </thead>
            <tbody>
                <% allcalculateitems.forEach(function(allcalculateitem){ %>
                <tr class="main">
                    <td><%= allcalculateitem.coursecode %></td>
                    <td><%= allcalculateitem.grade2 %></td>
                    <td><%= allcalculateitem.unitpercourse %></td>
                    <form action="/deleteitem2" method="post">
                        <td><button type="submit" name="deleteitemcalculate" value="<%= allcalculateitem._id %>" onchange="this.form.submit()" class="button-ions"><i class=" icon-css fas fa-1x fa-trash"></i></button></td>
                    </form>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<div class="div4">
    <div class="home-container">
        <a href="/grade-system"><img src="pics/homepics/calculator.png" class="img-systems" alt="calculator.png"></a>
        <h5 style="font-weight:bold;">Enter your Course Code, Grade & Unit </h5>
        <form action="/calculate" method="POST">
            <div class="form-group">
                <input type="text" name="coursecode" autocomplete="off" class="form-calculate form-control" placeholder="Enter Course Code">
                <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <input type="text" name="grade2" autocomplete="off" class="form-calculate form-control" placeholder="Enter Grade">
                <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <input type="text" name="unitpercourse" autocomplete="off" class="form-calculate form-control" placeholder="Enter unit for each course ">
                <small class="form-text text-muted"></small>
            </div>
            <button type="submit" class="form-calculate btn btn-dark">Add</button>
        </form>
    </div>
</div>

<div class="div4">
    <div class="table-calculate">
        <h4 style="font-weight:bold;">EXAMPLE</h4>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">COURSE CODE</th>
                    <th scope="col">GRADE</th>
                    <th scope="col">CREDIT UNIT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MATH 101</td>
                    <td>A</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>ENG 101</td>
                    <td>B</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footer'); -%>
