<%- include('partials/mainheader'); -%>
<% if(message.length > 0){ %>
<div id="yeah" class="alert-css alert alert-success">
    <%= message %>
</div>
<% }%>
<% if(message1.length > 0){ %>
<div id="yeah" class="alert-css alert alert-danger">
    <%= message1 %>
</div>
<% }%>
<div class="badge-div">
    <div class="badge-divinner">
        <form class="forms" action="/checkgpa/admin/<%= adminURL %>/home" method="get">
            <button type="submit" class="btn">
                Today <span class="badge badge-light"><%= todayusercounter %></span>
                <span class="sr-only">unread messages</span>
            </button>

        </form>
        <form class="forms" action="/checkgpa/admin/<%= adminURL %>/home" method="get">
            <button type="submit" class="btn">
                Total Users <span class="badge badge-light"><%= usercounter %></span>
                <span class="sr-only">unread messages</span>
            </button>
        </form>
    </div>
</div>
<form action="/deleteanything" method="post">
    <div class="divmain-admin3">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE USER</h3>
            <label class="sr-only" for="inlineFormInputGroup">Email address</label>
            <input type="email" name="deleteoneemail" class="form-admin" placeholder="Email address">
            <button type="submit" onchange="this.form.submit()" class="form-admin2">Delete</button>
            <input type="hidden" name="delete" value="deleteoneuser">
        </div>
    </div>
</form>
<form action="/deleteanything" method="post">
    <div class="divmain-admin">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE COMMENT</h3>
            <label class="sr-only" for="inlineFormInputGroup">Comment</label>
            <input type="text" name="deleteonecomment" class="form-admin" placeholder="Comment">
            <button type="submit" onchange="this.form.submit()" class="form-admin2">Delete</button>
            <input type="hidden" name="delete" value="deleteonecomment">
        </div>
    </div>
</form>
<form action="/deleteanything" method="post">
    <div class="divmain-admin">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE REPLY</h3>
            <label class="sr-only" for="inlineFormInputGroup">CommentReply</label>
            <input type="text" name="deleteonecommentreply" class="form-admin" placeholder="Comment">
            <label class="sr-only" for="inlineFormInputGroup">Reply</label>
            <input type="text" name="deleteonereply" class="form-admin" placeholder="Reply">
            <button type="submit" onchange="this.form.submit()" class="form-admin2">Delete</button>
            <input type="hidden" name="delete" value="deleteonereply">
        </div>
    </div>
</form>
<form action="/deleteanything" method="post">
    <div class="divmain-admin">
        <div class="div-admin">
            <h3 class="h3-admin">VERIFY USER</h3>
            <label class="sr-only" for="inlineFormInputGroup">username</label>
            <input type="email" name="adduserverified" class="form-admin" placeholder="username">
            <button type="submit" onchange="this.form.submit()" class="form-admin2">Add</button>
            <input type="hidden" name="delete" value="addoneverfieduser">
        </div>
    </div>
</form>
<form action="/deleteallfalse" method="post">
    <div class="divmain-admin2">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE UNVERIFIED TIMEOUT</h3>
            <label class="sr-only" for="inlineFormInputGroup"></label>
            <button type="submit" onchange="this.form.submit()" class="form-admin3">Delete Users</button>
        </div>
    </div>
</form>
<%- include('partials/mainfooter'); -%>
