<%- include('partials/mainheader'); -%>
<div class="badge-div">
    <div class="badge-divinner">
        <form class="forms" action="/checkgpa/admin/<%= adminURL %>/home" method="get">
            <button type="submit" class="btn">
                Today <span class="badge badge-light"><%= todayusercounter %></span>
                <span class="sr-only">unread messages</span>
            </button>

        </form>
        <form class="forms" action="/checkgpa/admin/<%= adminURL %>/home" method="get">
            <button type="submit" class="btn">
                Total Users <span class="badge badge-light"><%= usercounter %></span>
                <span class="sr-only">unread messages</span>
            </button>
        </form>
    </div>
</div>
<form>
    <div class="divmain-admin">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE USER</h3>
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <input type="username" class="form-admin" placeholder="Username">
            <button type="submit" class="form-admin2">Delete</button>
        </div>
    </div>
</form>
<form>
    <div class="divmain-admin">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE COMMENT</h3>
            <label class="sr-only" for="inlineFormInputGroup">Comment</label>
            <input type="username" class="form-admin" placeholder="Comment">
            <button type="submit" class="form-admin2">Delete</button>
        </div>
    </div>
</form>
<form>
    <div class="divmain-admin">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE REPLY</h3>
            <label class="sr-only" for="inlineFormInputGroup">Reply</label>
            <input type="username" class="form-admin" placeholder="Reply">
            <button type="submit" class="form-admin2">Delete</button>
        </div>
    </div>
</form>
<form>
    <div class="divmain-admin2">
        <div class="div-admin">
            <h3 class="h3-admin">DELETE UNVERIFIED TIMEOUT</h3>
            <label class="sr-only" for="inlineFormInputGroup"></label>
            <button type="submit" class="form-admin2">Delete Users</button>
        </div>
    </div>
</form>
<%- include('partials/mainfooter'); -%>
