<%- include('partials/header'); -%>
<div class="alert alert alert-danger alert-dismissible fade show alert-css1" role="alert">
    <div class="text-beware">
        <strong>BEWARE!</strong> Don't Repeat Grade Letter.
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<% if(message.length > 0){ %>
<div id="yeah" class="alert-css alert alert-success">
    <%= message %>
</div>
<% }%>
<% if(message1.length > 0){ %>
<div id="yeah" class="alert-css alert alert-danger">
    <%= message1 %>
</div>
<% }%>
<% if(locals.gradeexists){ %>
<div class="alertcsssign alert alert-danger">
    <%= gradeexists %>
</div>
<% }%>
<div class="div">
    <div class="table-gradesystem">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">GRADE LETTER</th>
                    <th scope="col">POINTS</th>
                    <form action="/delete/deleteallgradesystem" method="post">
                        <th><button type="submit" class="ion-but" onchange="this.form.submit()"><i class="icon-css fas fa-1x fa-trash-alt"></i></button></th>
                    </form>
                </tr>
            </thead>
            <tbody>
                <% allgradeitems.forEach(function(allgradeitem){ %>
                <tr class="main">
                    <td><%= allgradeitem.grade1 %></td>
                    <td><%= allgradeitem.points %></td>
                    <form action="/deleteitem1" method="post">
                        <td><button type="submit" name="deleteitemgrade" value="<%= allgradeitem._id %>" onchange="this.form.submit()" class="button-ions"><i class="icon-css fas fa-1x fa-trash-alt"></i></button></td>
                    </form>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<div class="div">
    <div class="home-container1">
        <a href="/grade-system"><img src="pics/homepics/resultgrade.png" class="img-systems" alt="grade.png"></a>
        <h5 style="font-weight:bold;">Enter your Grade &amp; Points</h5>
        <form action="/grade-system" method="POST">
            <div class="form-group">
                <input type="text" name="grade1" autocomplete="off" class="form-gradesystem form-control" placeholder="Enter Grade Letter e.g. A">
            </div>
            <div class="form-group">
                <input type="text" name="point" autocomplete="off" class="form-gradesystem form-control" placeholder="Enter Grade Point e.g. 5">
            </div>
            <!--
        <div class="form-group">
            <input type="text" class="form-gradesystem form-control" placeholder="Enter total units">
            <small class="form-text text-muted"></small>
        </div>
-->
            <button type="submit" class="form-gradesystem btn btn-dark">Add</button>
        </form>
    </div>
</div>
<div class="div">
    <div class="table-gradesystem">
        <h4 style="font-weight:bold;">EXAMPLE</h4>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">GRADE</th>
                    <th scope="col">POINTS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>F</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer'); -%>
