<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GPA review</title>
    <meta name="description" content="For easily calculation of GPA check out this site.">
    <meta name="author" content="Oyerinde Daniel Diekololuwa">
    <!-- Favicon -->
    <link rel="icon" href="favicon/favicon.ico">
    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Styles.css -->
    <link rel="stylesheet" href="css/review.css">
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/734dcc4b6d.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&family=Ranchers&display=swap" rel="stylesheest">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="nav-button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="alert alert alert-danger alert-dismissible fade show alert-beware" role="alert">
        <div class="text-beware">
            <strong>BEWARE!</strong> Comments cannot be edited or deleted.
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="main-container">
        <img class="pics1" src="pics/reviewpics/1.png">
        <img class="pics2" src="pics/reviewpics/2.png">
        <img class="pics3" src="pics/reviewpics/3.png">
        <img class="pics4" src="pics/reviewpics/4.png">
        <img class="pics5" src="pics/reviewpics/5.png">

        <h2><span class="totalcomment"><%=totalcomment%></span> <span class="totalcomment1">Comments</span></h2>

        <form action="/comment" method="POST">
            <div class="form-structure">
                <textarea class="form-control text-css" name="commentpost" rows="2" placeholder="Add a comment"></textarea>
                <button type="submit" class="button-css" onchange="this.form.submit()">Comment</button>
            </div>
        </form>
        <% allcomments.slice().reverse().forEach(function(allcomment){ %>
        <div class="reply-css">
            <h6 class="timeh6"><%= moment(allcomment.timecreated, "YYYY-MM-DD h:m:s.SS a").fromNow() %></h6>
            <h5><%= allcomment.comment %> </h5>
            <h6 id="<%=allcomment._id  %>" class="reply h6style ">Reply</h6>
            <h6 id="<%=allcomment._id  %>" class="cancel h6style">Cancel</h6>
            <input type="hidden" name="mainid" value="<%=allcomment._id  %>" class="">
        </div>
        <form action="/reply" method="POST">
            <div id="<%=allcomment._id + 123%>" class="form-hide">
                <div class="form-structure1">
                    <textarea class="form-control text-css" name="replycomment" rows="2" placeholder="Reply"></textarea>
                    <input type="hidden" name="commentId" value="<%=allcomment._id  %>">
                    <button type="submit" id="<%=allcomment._id  %>" class="button-js button-css">Reply</button>
                </div>
            </div>
        </form>
        <div class="div-viewreply">
            <%     if(allcomment.replylength  >= 1){%>
            <i id="<%=allcomment._id + 159%>" class=" fas fa-1x fa-caret-down arrow-style"></i>
            <h5 id="<%=allcomment._id  %>" class="view-reply"><span class="<%=allcomment._id + 987%> view-hide"> View </span> <span id="<%=allcomment._id + 987%>" class="replyLength"><%=allcomment.replylength %> </span><span id="<%=allcomment._id + 9872%>" class="reply-replies"> reply</span></h5>
            <%  }else {%>
            <h1 class="margin-help"></h1>

            <%  }%>
        </div>
        <% allcomment.reply.forEach(function(allcommentreply){ %>
        <%  if(allcommentreply.commentid == allcomment._id){ %>
        <div class="reply-css2red form-hide <%=allcomment._id  + 234%>">
            <h6 class="timeh6"><%= moment(allcommentreply.timereplycreated, "YYYY-MM-DD h:m:s.SS a").fromNow() %></h6>
            <img class="picsreply" src="pics/clown.png">
            <h5 class="h5style"> <%=allcommentreply.replyOne %></h5>
        </div>
        <% } else{ %>
        <%= console.log("Comment reply did not work.")%>
        <%  } %>
        <% }); %>
        <% }); %>
        <h1 class="nothing"></h1>
    </div>
    <script>
        //Monitoring Comment Numbers
        const comment1 = document.querySelector(".totalcomment");
        const commentHtml = comment1.innerHTML;
        if (commentHtml === "1") {
            const comment1 = document.querySelector(".totalcomment1");
            comment1.innerHTML = "Comment";
        }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js">
    </script>
</body>

</html>
